        .button {
            border-color: #00a6f2;
            background-color: #00a6f2;
            border-radius: 5px;
            border-style: solid;
            border-width: 2px;
            padding: 6px 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button:hover {
            background-color:#def5ff;
            border-color: #00a6f2;
        }

        a.button:hover {
            color: #243e4b;
            font-weight: 400;
        }

        a.button {
            color: #FFF;
        }