:root {
    /* 定义全局样式变量 */
    --background-color: #ffffff;
    --header-background-color: #0b8ec2;
    --header-text-color: #ffffff;
    --tab-background-color: #f0f0f0;
    --tab-text-color: #333;
    --tab-button-hover-color: #e0e0e0;
    --tab-button-active-color: #d0d0d0;
    --button-background-color: #0b8ec2;
    --button-text-color: #fff;
    --tab-content-background-color: #fafafa;
    --help-text-color: #333;
}

.dark-theme {
    /* 定义暗色主题样式变量 */
    --background-color: #333;
    --header-background-color: #014b55;
    --tab-background-color: #444;
    --tab-text-color: #eee;
    --tab-button-hover-color: #7f8b8b;
    --tab-button-active-color: #636d6d;
    --button-background-color: #014b55;
    --button-text-color: #ccc;
    --tab-content-background-color: #444;
    --help-text-color: #eee;
}


/* 基本样式 */

body {
    font-family: "PingFang SC", "Microsoft YaHei", 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--background-color);
}


/* 媒体查询 - 最大宽度 600px */

@media (max-width: 600px) {
    .container {
        max-width: 95%;
        padding: 10px;
    }
    .tab button {
        padding: 10px;
        font-size: 14px;
    }
    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


/* 媒体查询 - 最大宽度 800px */

@media (max-width: 800px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }
    .tab button {
        padding: 12px;
        font-size: 16px;
    }
    .button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

.header {
    /* 定义头部样式 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-info {
    /* 定义头部信息样式 */
    display: flex;
    align-items: center;
}

.header-info i {
    /* 定义头部信息图标样式 */
    margin-right: 8px;
}

.tab {
    /* 定义标签页样式 */
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--tab-background-color);
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab button {
    /* 定义标签页按钮样式 */
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    font-size: 17px;
    color: var(--tab-text-color);
    width: auto;
    text-align: left;
    float: left;
    /* 使按钮横向排列 */
}

.tab button:hover {
    /* 定义标签页按钮悬停样式 */
    background-color: var(--tab-button-hover-color);
}

.tab button.active {
    /* 定义标签页按钮激活样式 */
    background-color: var(--tab-button-active-color);
}

.tab-content {
    /* 定义标签页内容样式 */
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: var(--tab-content-background-color);
    transition: background-color 0.3s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content.active {
    /* 定义激活的标签页内容样式 */
    display: block;
}

.button {
    /* 定义按钮样式 */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.button:hover {
    /* 定义按钮悬停样式 */
    background-color: #0056b3;
    transform: translateY(-2px);
}

.status {
    /* 定义状态样式 */
    display: inline-block;
    margin-left: 20px;
}

.status i {
    /* 定义状态图标样式 */
    margin-right: 5px;
}

.theme-button {
    /* 定义主题切换按钮样式 */
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--button-text-color);
}

.theme-button:hover {
    /* 定义主题切换按钮悬停样式 */
    opacity: 0.8;
}

.text {
    /* 定义帮助信息样式 */
    color: var(--help-text-color);
}